# Core Dependencies
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
numpy==1.21.5
tensorflow==2.8.0
scipy==1.7.3
ultralytics==8.2.77
ttkthemes==3.2.2

# PyTorch dependencies (to be installed separately)
# Run the following command to install PyTorch with CUDA support:
# pip3 install torch==2.4.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
